.leaflet-container {
  width: 100%;
  height: 100vh;
}

.div_block{
  width: 100%;
  height: 415px;
  background: white;
  z-index: 1001;
  position: absolute;
  border-radius: 29px;
  bottom: -19px;
}

.btn_swipe{
  border: none;
    background: white;
    font-size: 22px;
}

.div_block {
  transition: transform 0.5s ease-in-out;
}

.down {
  transform: translateY(40%);
}
.bi-telephone-fill_color{
  color:white;
}

.button_call{
  color: white;
  border: none;
  background-color: rgba(0, 128, 0, 0.63);
  padding: 12px 12px 12px 12px;
  border-radius: 15px;
}

.div_call{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.tg{
  color:#0088cc;
  margin-right: 5px;
}
.wa{
 color: #25d366;
 width: 35px;
}
.info{
  font-size: 15px;
}